[client]
socket=/Users/uddeshyasingh/server/mariadb.sock

[mariadb]
socket=/Users/uddeshyasingh/server/mariadb.sock

datadir=/Users/uddeshyasingh/server/db
pid-file=/Users/uddeshyasingh/server/db.pid
